<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="atom.mobile.frame" android:versionCode="1"
           android:versionName="0.1" >
    <uses-sdk android:minSdkVersion="11"/>
    <application   android:label="mobile_frame"  android:theme="@style/Activity.Theme">
    
    	<activity android:name="atom.mobile.frame.activity.OpenWebViewActivity"/>
    
    </application>
</manifest>
